{% extends 'website/base.html' %}
{% load crispy_forms_tags %}
{% block content_block %}


<div class='main_body body_back p-3 d-flex justify-content-center align-items-center'>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card">
                    <div class="card-header">
                        <h3 class="mb-0">
                            Admin Login
                        </h3>
                    </div>
                    <div class="card-body">
                        <form action="" class="form1" method="post">
                            {% csrf_token %}
                            {{ admin_form | crispy }}
                            <button class="btn submit_button">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}