{% extends 'website/base.html' %}
 <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% block content_block %}
    {% include 'website/navbars.html' %}

    <div class='main_body margin_four body_back p-3'>
        {% include 'website/message_box.html' %}
        <div class="container-fluid px-0">
            <div class="row justify-content-between align-items-center">
                <div class="col-3">
                    <div class="form1">
                        <label for="site_type" class="main_text">Select Site Type</label>
                        <select name="site_type" id="site_type" class="form-select">
                            <option value="Solar">Solar</option>
                            <option value="Wind" disabled>Wind</option>
                        </select>
                    </div>
                </div>
                {% include 'website/updated_date.html' %}
            </div>
            <div class="row justify-content-center align-items-center my-2">
                <div class="col-6">
                    <!-- Get the overview data  -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <h3>Overview Data</h3>
                                </div>
                                <div class="col-6 text-end">
                                    <a href="/overview/" class="btn border btn_custom bg-transparent main_text">Visit
                                        Overview</a>
                                </div>
                            </div>

                        </div>
                        <div class="card-body table_datas">
                            <table class="table striped" id="overview_table">
                                <thead class="main_text">
                                <tr>

                                    {% if user.groups.all.0.name == "Admin" %}
                                        <th>Client Name</th>
                                    {% endif %}
                                    <th>Site Name</th>
                                    <th>Site Status</th>
                                    <th>State</th>
                                    <th>Forecast Updated Till</th>
                                </tr>
                                </thead>
                                <tbody class="main_text">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <!-- Get the weather map data  -->
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <h3>Cloud Warning Map</h3>
                                </div>
                                <div class="col-6 text-end">
                                    <a href="" class="btn border btn_custom bg-transparent main_text">Visit Warning</a>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <!-- Add Warnings Map Here -->
                            {% include 'website/loading.html' %}
                            <div class="figure_div w-100" id="canvas_section2"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row py-2 m-0">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="mb-0">
                                        Forecast Warnings
                                    </h3>
                                </div>
                                <div class="col-6 text-end">
                                    <a href="" class="btn border btn_custom bg-transparent main_text">Visit Forecast</a>
                                </div>
                            </div>

                        </div>
                        <div class="card-body">
                            <div class="col-2 form1">
                                <label for="select_site" class="main_text">Select Site</label>
                                <select name="select_site" id="select_site" class="form-select"> </select>
                            </div>
                            <div class="figure_div w-100" id="canvas_section1"></div>
                            <!-- The forecast graph goes here -->
                            {% include 'website/loading.html' %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script_block %}
    <script>
        $(document).ready(function () {
            let type = $('#site_type').val();
            let username = '{{ user.username }}';
            let group = '{{ user.groups.all.0 }}';
                 $('#overview_table').DataTable({
                fixedHeader: false,
                "ajax": {
                    data: {'username': '{{ user.username}}', 'group': '{{ user.groups.all.0.name }}','type':'Solar'},
                    dataType: 'json',

                    url: '{% url 'get_overview_data' %}',
                    "dataSrc": function (json) {
                        //Make your callback here.

                        return json.data;
                    },

                },
                pageLength: 5,
                columns: [

                    {data: 'site_name'},
                    {% if user.groups.all.0.name == 'Admin' %}
                        {data: 'client_name'},
                    {% endif %}

                    {data: 'site_status'},
                    {data: 'state'},
                    {
                        data: 'timestamp_forecast', render: function (data, type, row) {
                            if (type === "sort" || type === "type") {
                                return data;
                            }
                            {#console.log(moment(data,'DD/MM/YYYY, h:mm a').format("MMMM Do YYYY, h:mm a"))#}
                            return moment(data,'DD/MM/YYYY, h:mm').format("MMMM Do YYYY, h:mm a");
                            {#return data#}
                        }
                    },


                ],


            });

            function get_sites() {
                {#console.log('{{ user.username }}')#}
                $.ajax({
                    url: "{% url 'get_sites' %}",
                    dataType: 'json',
                    async: false,

                    data: {'username': '{{ user.username }}', 'group': '{{ user.groups.all.0 }}', 'type': type},
                    success: function (data) {
                        {#console.log(data)#}
                        let sites = data.data;
                        let counter = 1;
                        for (s in sites) $('#select_site').append(
                            "<option value='" + sites[s].site_name + "'" + (sites[s].site_name ===
                            'Hisar' ? "selected" : "") + " >" + sites[s].site_name + "</option>"
                        );
                    }
                })
            }

            function get_forecast_graph() {
                console.log('Going here')
                console.log(site_selected)
                $.ajax({
                    dataType: 'json',
                    async:false,
                    data: {
                        'username': '{{user.username}}',
                        'group': '{{user.groups.all.0.name}}',
                        'site_name': site_selected,
                        'type':type
                    },

                    url: "{% url 'get_homepage_data' %}",
                    success: function (data) {
                        {#table_data = data.data;#}
                        $('.center').hide()
                        var graphs = JSON.parse(data.graphs_data);
                        Plotly.newPlot("canvas_section1", graphs, {});
                        var maps = JSON.parse(data.maps_data);
                        Plotly.newPlot("canvas_section2", maps, {});
                    }
                })
            }

            get_sites();

            let site_selected = $('#select_site').val();

            get_forecast_graph();


            $('#select_site').unbind('change').change(function(){
                $('#canvas_section1').hide()
                $('.center:nth-child(2)').show()

                site_selected = $(this).val()
                {#console.log(site_selected)#}
                $.ajax({
                    url:{% url 'get_homepage_graph_data' %},
                    dataType:'json',
                    data: {'client_name': '{{user.username}}', 'group': '{{user.groups.all.0.name}}','site_name':site_selected},

                    success: function (data) {
                        $('.center:nth-child(2)').hide()
                        $('#canvas_section1').show()
                        var graphs = JSON.parse(data.graphs_data);
                        Plotly.newPlot("canvas_section1", graphs, {});

                    }
                })

            })


        })
    </script>

{% endblock %}